.b-tab {
    padding: 20px;
   
    display: none;
   
  }
  
  .b-tab.active {
    display: block;
    
  }
  
  .b-nav-tab {
    display: inline-block;
    line-height: 1.6;
    padding: 20px;
    color: rgb(0, 0, 0);
    
  }
  
  .b-nav-tab.active {
    color: #787776;
    text-decoration: underline;
  }